@font-face {
    font-family: Kanit-Bold;
    src: url("Kanit-Bold.ttf");
}
html,
body {
    font-family: Kanit-Bold, serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

.IDE-clr-blue {
    color:#0000FF;
}

.IDE-clr-lblue {
    color: #00BFFF;
}

ul.icon_img {
    list-style-image: url(imaga1.png);
}

P.tab1 {
    white-space: pre-wrap;
}

img.right {
    float: right;
    margin: 15px 15px 15px 15px;
    border: 5px solid black;
    display: flex;
    width: 300px;
    height: 200px;
}

img.left {
    float: left;
    margin: 10px 100px 10px 20px;
    border: 2px dashed violet;
    display: flex;
    width: 450px;
    height: 400px;
}

img.center {
    display: inline-block;
    margin: 0 auto;
    border: 4px initial navy;
}

p.tab {
    text-indent: 30px;
}

.align {
    text-align: center;
}

table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

.t1 th, .t1 td {
    padding: 4px 8px;
}

.t1 thead th {
    background: #4f81bd;
    text-transform: lowercase;
    text-align: left;
    font-size: 15px;
    color: #fff;
}

.t1 tr {
    border-right: 1px solid #95b3d7;
}

.t1 tbody tr {
    border-bottom: 1px solid #95b3d7;
}

    .t1 tbody tr:nth-child(odd) {
        background: #dbe5f0;
    }

    .t1 tbody th, .t1 tbody tr:nth-child(even) td {
        border-right: 1px solid #95b3d7;
    }

.t1 tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
}

.t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
    text-align: right;
}
